.diagram-test-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.diagram-test-container img{
    width: 50%;
}

.diagram-input-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
} 

.diagram-input-container h1{
    font-size: 15px;
    font-weight: 700;
}