.filter-buttons .create-active:hover {
    background: linear-gradient(180deg, #FFD700 0%, #FFA500 50%); /* Gradient màu vàng-cam */
    border-color: #FFB400; /* Màu viền cam */
  }

  .filter-buttons .filter-button.active.create-active {
    background: linear-gradient(180deg, #FFD700 0%, #FFA500 50%);
    border-color: transparent;
  }
  .form-group-s1 {
    display: flex; /* Hiển thị flex với hành vi inline */
    justify-content: flex-start;
    align-items: center;
    gap: 15px; /* Khoảng cách giữa các phần tử là 0 */
  }
  

  .form-group-s2 {
    display: flex; /* Hiển thị theo hàng ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: flex-start; /* Căn bắt đầu từ trái */
    gap: 15px;/* Khoảng cách giữa các phần tử */
    height: fit-content;
  }
  .s1-s2{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-bottom: 40px;
  }  
.filter-button.create-active {
    margin-left: auto; /* Đẩy nút Create về phía cuối */
  }

  /* Modal CSS */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
  }
  .modal-content h2{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .modal-content label {
    display: flex; /* Dùng flexbox để căn chỉnh */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: flex-start; /* (Tùy chọn) Căn giữa theo chiều ngang nếu cần */
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 25px;
    margin: 0px;
  }
  
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #101010;
  }
  .create-new {
    text-align: center;
    font-weight: bold;
    margin: 40px 0 10px; /* Khoảng cách giữa nút Close và tiêu đề */
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  
  .modal-close:hover i {

    background-color: #e0e0e0; /* Màu xám nhạt khi hover */
  }

  .form-group-hint {
    display: flex;
    flex-direction: column;
  }
  input[type="hint"], textarea {
    width: 93%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

.form-group-skill{
display: flex;
width: 129px;
flex-direction: column;
align-items: flex-start;
}
.name-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input,
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .confirm-button {
    padding: 5px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(180deg, #001A72 0%, #1E1E1E 100%);
    width: 150px;
    height: 44px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
    display: flex; /* Đảm bảo nội dung trong button được căn giữa */
    margin: 0 auto; /* Căn giữa button theo chiều ngang */
  }
  
  

  .custom-select-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Hoặc kích thước cụ thể */
  }
  
  .custom-select {
    appearance: none; /* Ẩn mũi tên mặc định */
    -webkit-appearance: none; /* Ẩn mũi tên trên Safari */
    -moz-appearance: none; /* Ẩn mũi tên trên Firefox */
    background: transparent; /* Làm nền trong suốt */
    width: 100%; /* Đảm bảo full-width */
    padding: 8px 40px 8px 10px; /* Padding cho icon bên phải */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  
  /* Thêm icon tùy chỉnh */
  .custom-select-container i {
    size:38px;
    position: absolute;
    right: 20px; /* Đặt icon về bên phải */
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%);
    pointer-events: none; /* Ngăn không cho click vào icon */
    color: #000; /* Màu của icon */
  }
  /* Css cho listening */
  .listening{
    display: flex;
    flex-direction: column;
  }
  .lis-type{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap:60px;
    margin-bottom: 40px;
  }

  .filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
  }