/* Các thuộc tính chung cho các nút filter */
.filter-buttons .filter-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: white;
  color: black; /* Màu chữ mặc định */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Hover Styles cho tất cả các nút */
.filter-buttons .filter-button:hover {
  color: white;
}

/* Hover cho từng nút */
.filter-buttons .all-active:hover {
  background-image: linear-gradient(rgb(41, 69, 99) 0%, rgb(29, 49, 70) 100%);
  /* border-color: #001f80; */
}

.filter-buttons .listening-active:hover {
  background-image: linear-gradient(180deg, #000, #468DBC); /* Gradient từ đen sang xanh dương */
  border-color: #468DBC;
}

.filter-buttons .reading-active:hover {
  background-image: linear-gradient(180deg, #000, #125D27); /* Gradient từ đen sang xanh lá */
  border-color: #125D27;
}

/* Active State Styles cho các nút */
.filter-buttons .filter-button.active {
  color: white; /* Màu chữ khi active */
  border-color: transparent; /* Xóa viền khi active */
}

/* Active State cho từng nút */
.filter-buttons .filter-button.active.all-active {
  background-image: linear-gradient(rgb(41, 69, 99) 0%, rgb(29, 49, 70) 100%)
}

.filter-buttons .filter-button.active.listening-active {
  background-image: linear-gradient(180deg, #000, #468DBC); /* Gradient từ đen sang xanh dương */
}

.filter-buttons .filter-button.active.reading-active {
  background-image: linear-gradient(180deg, #000, #125D27); /* Gradient từ đen sang xanh lá */
}
