.header {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .logo{
    display: flex;
    align-items: center;
  }
  .logo h1 {
    font-size: 20px;
    color: #333;
    margin: 0;
  }

  .logo img{
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  