.header {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
  }

  .header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }

  .logo{
    display: flex;
    align-items: center;
  }
  .logo h1 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    margin: 0;
    cursor: default;
  }

  .logo img{
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  