.navbar {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

.nav-container {
  display: flex;
  background-color: #001f80;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
}

.auth-links {
  display: flex;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  transition: all 0.3s ease;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  background-color: #0056b3;
}

.avatar-container {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically center the avatar and email */
  cursor: pointer;
  margin-right: 5px;
  position: relative; /* Ensure dropdown is positioned relative to this container */
  width: max-content; /* Ensure the container is only as wide as the content */
}

.avatar-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px; /* Space between avatar and email */
}

.username {
  font-size: 14px;
  color: white;
  margin-left: 10px; /* Optional: add some space between the avatar and email */
}

.dropdown-menu {
  position: absolute;
  top: 40px; /* Adjust this value as needed */
  left: 0;
  width: 100%; /* Make the dropdown width equal to the avatar container's width */
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure dropdown is above other elements */
}

/* Styling for each dropdown item */
.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Optional: Hover effect for the logout button in the dropdown */
.dropdown-menu button {
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  text-decoration: none;
}
