.matching-test-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.matching-test-container table{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.matching-test-option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.matching-test-container h1{
    font-size: 15px;
    font-weight: 700;
}

.matching-test-container select{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
}
