.matching-test-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.matching-test-container table{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.matching-test-option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.matching-test-container h1{
    font-size: 15px;
    font-weight: 700;
    color: #000;
    width: 20px !important;
    display: inline-block;
}

.matching-test-container h2{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-align: left;
}

.matching-test-container select{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
}

