.test-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
  }
  
  .test-tabs button {
    font-size: 16px;
    padding: 10px 15px;
    background: none;
    border: none;
    color: #6c6c6c;
    cursor: pointer;
    font-weight: bold;
  }
  
  .test-tabs .active {
    color: #001f80;
    border-bottom: 3px solid #001f80;
  }
  